/* ============================================= */
/*	Header					   		*/ 
/* ============================================= */ 

.header {
	.logo {
		display: block;
		margin: 0 auto;
		width:100%;
		img {
			width:100%;
		}
		&.desktop {
			display:none;
		}
		@media (min-width:960px){
			&.desktop{
				display:block;
			}
			&.mobile {
				display:none;
			}
		}
	}
}

.nav-stripe {
	padding: 10px;
	background-color: $med-green;
	border-bottom: 1px dashed $light-green;
	@include pie-clearfix;
	@media (min-width:500px){
		.nav-social {
			float:left;
			width:25%;
		}
		.nav-main {
			float:left;
			width:50%;
		}
		.nav-placeholder {
			float:left;
			width:25%;
		}
	}
}

.nav-main {
	margin:auto;
	ul {
		@include pie-clearfix;
	}
	li {
		float:left;
		width:(97%/3);
		margin:0 .5%;
	}
}
.nav-main-link, .main-nav-link {
	background-color:$evergreen;
	display:block;
	text-align:center;
	height:32px;
	padding:7px;
	color:$med-green;
	font-family:$openSans;
	font-weight:700;
	font-size:15px;
	&:hover {
		color:$light-green;
	}
}

.tagline {
	text-align:center;
	color:$evergreen;
	font-family:$openSans;
	font-weight:700;
	font-size:32px;
	margin-bottom:30px;
}

.promo-stripe {
	background-color:$med-green;
	color:$whiteGreen;
	padding-bottom:30px;
	padding-top:30px;
	@media (min-width:650px){
		padding-left:20%;
		padding-right:20%;
	}
	@media (min-width:960px){
		padding-left:0%;
		padding-right:0%;
	}
	.content-wrapper {
		max-width:960px;
		margin:auto;

	}
	
	.headline-s {
		color:$light-green;
	}

	
}

.features {
	@media (min-width:960px){
		@include pie-clearfix;
		.feature {
			float:left;
			width:33%;
		}
	}
}

.feature {
	text-align:center;
	padding:0px 20px;
}
.headline-s {
	font-family:$coustard;
	font-weight:700;
	color:$med-green;
	font-size:18px;
	line-height:20px;
	margin-bottom:5px;
}
.txt-s {
	font-family:$openSans;
	font-size:12px;
	line-height:17px;
	a {
		font-weight:700;
	}
}

#main {
	background-color:$whiteGreen;
	@include box-shadow(0px 0px 10px rgba($evergreen, .6));
	margin-top:-20px;
	padding:60px 7%;
	.tagline {
		font-size:24px;
		text-align:left;
	}
}

.section-mod {
	border-bottom:1px solid $light-green;
	padding-bottom:40px;
	margin-bottom:60px;
}

.feature-info {
	border-bottom:1px solid $light-green;
	padding-bottom:20px;
	margin-bottom:50px;
}

.section-head, .section-h {
	font-family:$coustard;
	font-weight:bold;
	color:$med-green;
	font-size:24px;
}

.section-h1 {
	color:lighten($evergreen, 5);
	font-family:$coustard;
	text-transform:uppercase;
	font-size:20px;
	letter-spacing:3.5px;
	margin-bottom:40px;
}

.txt, .section-txt {
	font-family:$openSans;
	font-size:15px;
	line-height:23px;
	color:$textGreen;
	a {
		color:$med-green;
		&:hover {
			color:$bright-green;
		}
	}
}

.code-side-by-side {
	@include ui-grid-2(50%, 50%);
	margin-bottom:20px;
	@media (min-width:960px){
		code {
			min-height:300px;
		}
	}
}

.code-holder {
	position:relative;
}

code.php, code.twig {
	padding:0px 20px 30px;
}

.code-mod {
	position:relative;
	code {
		padding-top:20px;
	}
}

.code-tag {
	border:2px solid $light-green;
	background-color:$bright-green;
	font-family:$openSans;
	font-weight:bold;
	color:$light-green;
	font-size:18px;
	text-align:center;
	padding:5px 10px;
	@include inline-block;
	@include rotate(-4deg);
	position:absolute;
	left:-9px;
	.muted {
		color:$evergreen;
	}
	&.bottom {
		bottom:-10px;
	}
	&.top {
		top:-5px;
	}
}

.feature-icon-mod {
	margin:auto;
	width:50%;
	.feature-icon-img {
		max-width:100%;
	}
}

