/* ## Bring in all Compass Helpers */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  line-height: 0;
  vertical-align: middle;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
  /*text-rendering: optimizeLegibility;*/
  /* this causes problems in Chrome for Windows and on iOS */
  -webkit-overflow-scrolling: touch;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

body, select, input, textarea {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

html {
  overflow-y: scroll;
}

a:hover, a:active {
  outline: none;
}

ul, ol {
  list-style: none;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.a11y-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* !============================================= */
/* ! Universal						   			  */
/* !============================================= */
/* Kill the margin on the last column */
.ui-block:last-child,
.ui-block.last {
  margin-right: 0;
}

/* !============================================= */
/* ! Media Grid							   			  */
/* !============================================= */
/* !============================================= */
/* ! Grids							   			  */
/* !============================================= */
/* Grid-2 vars */
/* Grid-3 vars */
/* Grid-3-rrl vars */
/* Grid-4 vars */
/* Grid-5 vars */
/* ! Columns */
.ui-block-25 {
  width: 25%;
}

.ui-block-50 {
  width: 50%;
}

.ui-block-75 {
  width: 75%;
}

/* !============================================= */
/* ! Spacers						   			  */
/* !============================================= */
/* Variables & Mixins */
/* Selectors */
.spacer {
  margin-bottom: 50px;
}

.spacer-small {
  margin-bottom: 10px;
}

.spacer-med {
  margin-bottom: 25px;
}

.spacer-large {
  margin-bottom: 75px;
}

/* !============================================= */
/* ! Image Blocks						   		  */
/* !============================================= */
.imageblock-image {
  float: left;
  margin: 0 10px 0 0;
}

.imageblock-image-right {
  float: right;
  margin: 0 0 0 10px;
}

.imageblock-content {
  display: table-cell;
  vertical-align: top;
  width: 1000em;
}

.ie6 .imageblock-content,
.ie7 .imageblock-content {
  display: block;
  width: auto;
  zoom: 1;
}

/* ## Base CSS */
/* ---------------------------------------------- */
/*	Typography						 			  */
/* ---------------------------------------------- */
/* !-- Typefaces ------------------------------------ */
.adelle-bold, .section-h, .block-h, .label-h, button.big-btn, .ex-small {
  font-family: "adelle", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.open-light, .section-txt, p, .ex-h1 {
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.open-reg, .label, .code-header, .ex-p {
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.ss-social {
  font-family: "ss-social", Arial, Helvetica, sans-serif;
}

.inconsolata, .code-mod .ui-block {
  font-family: "inconsolata", "Courier New", Courier, monospace;
}

/* !-- Type styles ------------------------------------ */
/* ## Components */
/* ============================================= */
/*	Universal						   			 */
/* ============================================= */
a {
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

body {
  background-color: #cde6c1;
}

.inline {
  display: inline;
}

/* ============================================= */
/*	 Layout					   		*/
/* ============================================= */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* ============================================= */
/*	Typography		                             */
/*	Variables defined in project/_type.scss		 */
/* ============================================= */
.default-link {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #1d78af;
}
.default-link:hover {
  color: #165a83;
}

.section-h {
  color: #3e9135;
  font-size: 26px;
}

.section-txt {
  font-size: 18px;
  line-height: 150%;
}

.block-h {
  color: #3e9135;
  font-size: 18px;
}

.label-h {
  font-size: 14px;
  color: #3e9135;
}

.label {
  font-size: 14px;
  line-height: 18px;
  color: #2e6c27;
}
.label a {
  color: #cde6c1;
}
.label a:hover {
  color: #3e9135;
}
.label.ss {
  padding-left: 10px;
}

p {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
}

/* ============================================= */
/*	Buttons					   			 */
/* ============================================= */
button {
  background-color: #5cbb4d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5cbb4d), color-stop(100%, #3e9135));
  background-image: -webkit-linear-gradient(#5cbb4d, #3e9135);
  background-image: -moz-linear-gradient(#5cbb4d, #3e9135);
  background-image: -o-linear-gradient(#5cbb4d, #3e9135);
  background-image: -ms-linear-gradient(#5cbb4d, #3e9135);
  background-image: linear-gradient(#5cbb4d, #3e9135);
  color: #ededed;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -ms-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
  border: 1px solid #3e9135;
}
button:hover {
  background-color: #3e9135;
}
button.big-btn {
  font-size: 12px;
  padding: 10px;
  margin: 0 5px 0 0;
}
@media (min-width: 600px) {
  button.big-btn {
    font-size: 16px;
    padding: 15px 30px;
  }
}

.buttons {
  max-width: 420px;
  margin: 0 auto 20px auto;
  padding: 10px;
  background-color: #bedfaf;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border-right: 1px dashed #cde6c1;
  border-left: 1px dashed #cde6c1;
  *zoom: 1;
}
.buttons:after {
  content: "";
  display: table;
  clear: both;
}

.btn-container {
  text-align: center;
  margin: 0 auto;
}

/* ============================================= */
/*	Header					   		*/
/* ============================================= */
header {
  margin: 20px 0;
}
header .logo {
  display: block;
  margin: 0 auto;
}
@media (max-width: 600px) {
  header .logo {
    width: 60%;
  }
  header .logo img {
    width: 100%;
  }
}

nav {
  padding: 10px;
  background-color: #71a768;
  border-bottom: 1px dashed #cde6c1;
}

/* ============================================= */
/*	Page Sections					   		*/
/* ============================================= */
.explainer-mod {
  border-bottom: 20px;
  *zoom: 1;
}
.explainer-mod:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 600px) {
  .explainer-mod {
    width: 100%;
  }
}

.section-mod {
  margin: 40px 0 40px 0;
  padding: 20px;
}
.section-mod article {
  margin: 0 0 40px 0;
}
@media (min-width: 600px) {
  .section-mod {
    width: 100%;
    padding: 10px 12% 10px 12%;
  }
}

/* ============================================= */
/*	Top section					   		*/
/* ============================================= */
.ex-code-mod {
  width: 100%;
  background-color: #2d2d2d;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 5px 0px 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 5px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 5px 0px 5px inset;
}
@media (min-width: 600px) {
  .ex-code-mod {
    width: 35%;
    height: 200px;
    margin-top: -10px;
    margin-right: -5%;
    float: right;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .ex-code-mod:hover {
    background-color: black;
  }
}

@media (min-width: 600px) {
  .ie7 .ex-code-out {
    width: 60%;
  }
}
.ie7 .ex-code-mod {
  background-color: #222;
  white-space: pre-wrap;
  word-wrap: break-word;
}
@media (min-width: 600px) {
  .ie7 .ex-code-mod {
    width: 25%;
    float: left;
    margin: 0;
  }
}
.ie7 .ex-code-mod:hover {
  background-color: #000;
}
@media (min-width: 600px) {
  .ie7 .code-mod .ui-block-1 {
    float: left;
    width: 40%;
  }
  .ie7 .code-mod .ui-block-2 {
    float: right;
    width: 40%;
  }
}

code {
  color: #5cbb4d;
}

.code-white {
  color: #FFF;
}

.code-header {
  margin: 0 auto;
  padding: 10px;
  background-color: #71a768;
  text-align: center;
  color: #FFF;
}
@media (min-width: 600px) {
  .code-header {
    display: none;
  }
}

.ex-code-out {
  width: 100%;
  background-color: #FFF;
  border: 8px solid #EEE;
  padding: 20px;
}
@media (min-width: 600px) {
  .ex-code-out {
    width: 70%;
    padding: 60px;
    float: right;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
  }
}

.ex-code-arrow {
  display: none;
}
@media (min-width: 600px) {
  .ex-code-arrow {
    display: block;
    width: 25%;
    height: 180px;
    float: left;
    background-image: url(../_img/ex-arrow-two.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
}

/* ============================================= */
/*	Typography for fake blog post				*/
/* ============================================= */
.ex-h1 {
  font-size: 38px;
  margin-bottom: 20px;
}

.ex-small {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 10px;
}

.ex-img {
  float: left;
  margin: 0 10px 10px 0;
}
.ex-img img {
  width: 40px;
  height: 40px;
}
@media (min-width: 600px) {
  .ex-img img {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    border: 4px solid #EEE;
  }
}

.ex-p {
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 600px) {
  .ex-p {
    margin-left: 95px;
  }
}

/* ============================================= */
/*	Code examples in bottom					   		*/
/* ============================================= */
.code-mod {
  margin: 20px;
}
.code-mod .ui-block {
  background-color: #2d2d2d;
  -webkit-box-shadow: black 5px 5px 5px inset;
  -moz-box-shadow: black 5px 5px 5px inset;
  box-shadow: black 5px 5px 5px inset;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  color: #ededed;
  font-size: 15px;
  min-height: 400px;
  padding: 10px;
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  .code-mod {
    *zoom: 1;
    background-image: url(../_img/code-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .code-mod:after {
    content: "";
    display: table;
    clear: both;
  }
  .code-mod > .ui-block-1,
  .code-mod > .ui-block.first {
    width: 45%;
    display: inline;
    float: left;
    margin-right: 10%;
  }
  .code-mod > .ui-block-2,
  .code-mod > .ui-block.second {
    width: 45%;
    display: inline;
    float: left;
    margin-right: 0;
  }
}

/* ============================================= */
/*	Footer			   		*/
/* ============================================= */
footer {
  background-color: #71a768;
  min-height: 150px;
  border-top: 1px dashed #cde6c1;
  -webkit-box-shadow: #3e9135 0px 5px 10px inset;
  -moz-box-shadow: #3e9135 0px 5px 10px inset;
  box-shadow: #3e9135 0px 5px 10px inset;
}
footer .container {
  margin: 0 auto;
  padding-top: 30px;
}
@media (min-width: 600px) {
  footer .container {
    max-width: 960px;
    *zoom: 1;
  }
  footer .container:after {
    content: "";
    display: table;
    clear: both;
  }
  footer .container > .ui-block-1,
  footer .container > .ui-block.first {
    width: 38.333%;
    display: inline;
    float: left;
    margin-right: 2.5%;
  }
  footer .container > .ui-block-2,
  footer .container > .ui-block.second {
    width: 38.333%;
    display: inline;
    float: left;
    margin-right: 2.5%;
  }
  footer .container > .ui-block-3,
  footer .container > .ui-block.last {
    width: 18.333%;
    display: inline;
    float: left;
    margin-right: 0;
  }
}

.ups-logo {
  width: 100%;
  margin: 30px 0 0 0;
  text-align: center;
}

.social-icons {
  font-size: 25px;
  text-align: right;
}
.social-icons a {
  color: #3e9135;
}
.social-icons a:hover {
  color: #FFF;
}

/* ============================================= */
/*	Print Styles							     
	Inline to avoid required HTTP connection     */
/* ============================================= */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
