/* ## Bring in all Compass Helpers */ 
@import "partials/base";

/* ## Base CSS */
@import "project/type";
// @import "project/forms";
// @import "project/tables";
// @import "project/lists";

/* ## Components */
// @import "project/buttons";
// @import "project/dropdowns";
// @import "project/tabs";
// @import "project/modals";
// @import "project/tooltips";

/* ============================================= */
/*	Universal						   			 */ 
/* ============================================= */

a 		{ 	text-decoration: none; color: inherit; }
strong	{	font-weight: bold;	}
em   	{	font-style: italic;	}

body { background-color: $light-green; }

.inline { display: inline; }


/* ============================================= */
/*	Universal Elements					   			 */ 
/* ============================================= */

button {
	@include background-image(linear-gradient($bright-green, $dark-green));
	color: $black-10;
	@include border-radius(5px 5px);
	border: 1px solid $dark-green;

	&:hover { background-color: $dark-green; }
	
	&.big-btn {
		@extend .adelle-bold;
		font-size: 12px;
		padding: 10px;
		margin: 0 5px 0 0;

		@media(min-width: 600px){
			font-size: 16px;
			padding: 15px 30px;
		}
	}
}



/* ============================================= */
/*	Big Picture Layout					   		*/ 
/* ============================================= */ 

#container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}


//@extend element
.mod {
	margin: 30px 0px;
	padding: 0 15px;
}


/* ============================================= */
/*	Header					   		*/ 
/* ============================================= */ 

header {
	margin: 20px 0;
	.logo {
		display: block;
		margin: 0 auto;

		@media(max-width: 600px){
			width: 60%;
			img {
				width: 100%;
			}
		}
	}
}

.descrip {
	@extend .open-reg;
	font-size: 16px;
	text-align: center;
}

.buttons {
	max-width: 960px;
	margin: 0 auto 20px auto;
	padding: 10px;
	background-color: darken($light-green, 5%);
	@include border-radius(8px);

	border-right: 1px dashed $light-green;
	border-left: 1px dashed $light-green;
	@include pie-clearfix;
}

.btn-container {
	text-align: center;
	margin: 0 auto;
}


nav {
	padding: 10px;
	background-color: $med-green;
	border-bottom: 1px dashed $light-green;
}

/* ============================================= */
/*	Page Sections					   		*/ 
/* ============================================= */

.explainer-mod {
	border-bottom: 20px;
	@include pie-clearfix;

	@media (min-width: 600px){
		width: 100%;
	}
}

// styling for code window
.ex-code-mod {
	width: 100%;
	background-color: rgba(0,0,0,.85);
	@include box-shadow(rgba(0,0,0,.4) 5px 0px 5px inset);

	@media (min-width: 600px){
		width: 35%;
		height: 200px;
		margin-top: -10px;
		margin-right: -5%;

		float: right;
		@include border-radius(8px);
		@include box-shadow(rgba(0,0,0,.4) 5px 5px 5px);
		@include trans;

		&:hover {
			background-color: rgba(0,0,0,1);
		}
	}
}

//inline styles for the code window
code {
	color: #5cbb4d;
}

.code-white {
	color: #FFF;
}

//styling for "blog post" window
.ex-code-out {
	width: 100%;
	background-color: #FFF;
	border: 8px solid #EEE;
	padding: 20px;

	@media (min-width: 600px){
		width: 70%;
		padding: 60px;
		float: right;
		@include border-radius(8px);
	}
}

//the little arrow thing under the code
.ex-code-arrow {
	display: none;
	@media (min-width: 600px){
		display: block;
		width: 25%;
		height: 180px;
		float: left;

		background-image: url(../_img/ex-arrow-two.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.ex-h1 {
	font-size: 38px;
	margin-bottom: 20px;
	@extend .open-light;
}

.ex-small {
	@extend .adelle-bold;
	font-size: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #666;
	margin-bottom: 10px;
}

.ex-img {
	float: left;
	margin: 0 10px 10px 0;

	img {
		width: 40px;
		height: 40px;
	}
	@media (min-width: 600px){
		img {
			width: 80px;
			height: 80px;
			@include border-radius(100px);
			border: 4px solid #EEE;
		}
	}
}

.ex-p {
	font-size: 14px;
	line-height: 18px;
	@extend .open-reg;

	@media (min-width: 600px){
		margin-left: 95px;
	}
}


.intro-mod {
	@extend .mod;
	margin-bottom: 60px;
	padding: 10px 12% 10px 12%;
}

.faq-mod {
	@extend .mod;
	margin: 40px 0 40px 0;
	padding: 10px 12% 10px 12%;

	.media-block {
		margin: 0 0 40px 0;
	}
	// @include media-grid(3, 40px);
}

.code-mod {
	@extend .mod;
	.ui-block {
		background-color: $black-90;
		@include box-shadow(#000 5px 5px 5px inset);
		@include border-radius(8px);
		color: $black-10;
		font-size: 15px;
		min-height: 400px;
		padding: 10px;
		@extend .inconsolata;
	}

	background-image: url(../_img/code-arrow.png);
	background-repeat: no-repeat;
	background-position: center center;

	@media(min-width: 600px){
		@include ui-grid-2(50%,50%,10%);
	}

}

.download-mod {
	@extend .mod;
}


/* ============================================= */
/*	Footer			   		*/ 
/* ============================================= */ 

footer {
	background-color: $med-green;
	min-height: 200px;
	border-top: 1px dashed $light-green;
	@include box-shadow($dark-green 0px 5px 10px inset);
}

.footer-container {
	margin: 0 auto;
	padding-top: 30px;
	@extend .mod;

	@media (min-width: 600px){
		max-width: 960px;
		@include ui-grid-3(40%, 40%, 20%, 5%);
	}
}

.ups-logo {
	width: 100%;
	margin: 60px 0 0 0;
	text-align: center;
}

.social-icons {
	font-size: 25px;
	text-align: right;
	a {
		color: $dark-green;
		&:hover { 
			color: #FFF;
		}
	}
}


/* ============================================= */
/*	Other Elements				   		*/ 
/* ============================================= */ 

.twitter-share-button {
	margin-left: 5px;
}


/* ============================================= */
/*	Print Styles							     
	Inline to avoid required HTTP connection     */
/* ============================================= */

// Import Print Styles
@import "project/print";



